.background-image {
    width: 100%;
    height: 650px;
}

.background-container {
    position: relative;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;

    width: 50px;
    height: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.sidebar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.icon {
    position: relative;
    bottom: -16px;
}

.icon-btn {
    width: 32px;
    height: 32px;
    left: 12px;
    right: 12px;
}

.overlay-text {
    position: absolute;
    top: 581px;
    left: 110px;

    width: 715px;
    height: 139px;

    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);

    border-radius: 24px;
    padding: 24px 32px;

    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
    margin: 0;

    color: #BEB7FB;
    display: flex;
    align-items: center;
}

.subtitle span {
    white-space: nowrap;
}

.name {
    margin-right: 11px;
    color: #BEB7FB;
}

.slash {
    color: #8996A1;
    margin: 0;
}

.category {
    margin-left: 11px;
    color: #BEB7FB;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    vertical-align: middle;

    margin: 0;
    color: #EBEEF5;
}

/* details */



.details {
    display: flex;
    gap: 60px;
    padding: 121px 77px 107px 30px;
    background-color: #1D1D1D;
    color: white;
}

/* SOL POSTER */
.details__image img {
    width: 573px;
    border-radius: 24px;
    object-fit: cover;
}

.details__content {
    /* display: flex;
    flex-direction: column; */
}

.details_i {
    display: flex;
    gap: 20px;
}

.details__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.details__actions {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    gap: 15px;
    margin-bottom: 25px;
}

.btn {
    /* padding: 10px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer; */
}

.btn-primary {
    background: #000000A6;
    color: #FFAD49;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;

}

.btn-icon {
    padding-left: 132px;
    cursor: pointer;
}

.btn-rating {
    display: flex;
    align-items: center;
    gap: 6px;
    background: #2a2a2a;
    color: #f5a623;
}

.details__description {
    /* max-width: 600px; */
    line-height: 1.5;
    color: #aaa;
    margin-bottom: 30px;
}

.details__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 60px;
    margin-bottom: 40px;
}

.info-item {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.info-label {
    font-size: 14px;
    color: #777;
}

.info-value {
    font-size: 16px;
    font-weight: 500;
}

.details__cast {
    margin-top: 20px;
}

.cast-title {
    font-size: 22px;
    margin-bottom: 15px;
    text-transform: lowercase;
}

.details__cast img {
    width: 100%;
    max-width: 128px;
}