.favorite-plus-icon,
.favorite-check-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}

.overlay-text {
    transition: box-shadow 0.2s, transform 0.2s;
}

.overlay-text:hover {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
    transform: translateY(-6px) scale(1.02);
}

.movie-card:hover {
    transform: scale(1.03) translateY(-8px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
    transition: transform 0.2s cubic-bezier(.4, 2, .6, 1), box-shadow 0.2s;
    z-index: 2;
}

.app-container {
    display: flex;
    min-height: 100vh;
    background-color: var(--home-page-bg);
    font-family: var(--home-page-font);
}

.client-sidebar {
    /* width: 110px; */
    background: #1D1D1D80;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 32px 0 0 0; */
    /* gap: 32px; */
    min-height: 100vh;
    box-shadow: 2px 0 16px 0 rgba(0, 0, 0, 0.08);
    z-index: 10;
}

.client-sidebar-logo {
    /* m
    argin-bottom: 24px; */
}

.client-sidebar-logo img {
    width: 56px;
    height: 56px;
}

.client-sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
}

.client-sidebar-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 56px; */
    /* height: 56px; */
    /* border-radius: 16px; */
    /* transition: background 0.2s; */
}

/* .client-sidebar-links a.active,
.client-sidebar-links a:hover {
    background: var(--client-nav-active-bg, #232323);
} */

.client-sidebar-links img {
    width: 32px;
    height: 32px;
    filter: grayscale(100%) brightness(0.7);
    transition: filter 0.2s;
}

.client-sidebar-links a:hover img,
.client-sidebar-links a.active img {
    filter: none;
}

.detailed-content {
    flex: 1;
    min-width: 0;
}

.background-container {
    /* display: flex; */
}

.background-image {
    width: 100%;
    height: 650px;
    object-fit: cover;
}

.background-container {
    position: relative;
}



.overlay-text {
    position: absolute;
    top: 581px;
    left: 110px;

    width: 715px;
    height: 139px;
    background-color: #20283ECC;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);

    border-radius: 24px;
    padding: 24px 32px;

    color: #20283ECC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
    margin: 0;

    color: #BEB7FB;
    display: flex;
    align-items: center;
}

.subtitle span {
    white-space: nowrap;
}

.name {
    margin-right: 11px;
    color: #BEB7FB;
}

.slash {
    color: #8996A1;
    margin: 0;
}

.category {
    margin-left: 11px;
    color: #BEB7FB;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    vertical-align: middle;

    margin: 0;
    color: #EBEEF5;
}

/* details */



.details {
    display: flex;
    gap: 60px;
    padding: 121px 77px 107px 30px;
    background-color: #1D1D1D;
}

/* SOL POSTER */
.details__image img {
    width: 573px;
    border-radius: 24px;
    object-fit: cover;
    padding-left: 20px;
}

.details__content {
    /* display: flex;
    flex-direction: column; */
}

.details_i {
    display: flex;
    gap: 20px;
}

.details__image img {
    cursor: pointer;
    /* klik edilə bilən şəkil olduğunu göstərir */
    transition: transform 0.2s ease;
    /* optional: hover effekt üçün */
}

.details__image img:hover {
    transform: scale(1.05);
    /* optional: hover zamanı kiçik böyümə effekti */
}


/* Şəkil üzərində play overlay */
.details__image {
    position: relative;
    display: inline-block;
}

.details__image img {
    cursor: pointer;
    display: block;
}

.details__image::after {
    content: "▶";
    /* Play işarəsi */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    /* buradakı ölçünü böyüt */
    color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    pointer-events: none;
}

.details__image:hover::after {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
    /* hover zamanı böyüklük */
}


.details__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #EBEEF5;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: -0.45px;

}

.details__actions {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    gap: 15px;
    margin-bottom: 25px;
}

.btn-imdb {
    border: none;
    cursor: pointer;
    width: 59px;
    height: 32px;
    opacity: 1;
    border-radius: 8px;
    padding: 4px 8px;
    margin-bottom: 24px;
}

.btn-primary {
    background: #000000A6;
    color: #FFAD49;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;

}

.btn-icon {
    padding-left: 132px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #FFAD49;
    background: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    transition: color 0.2s;
}

.btn-rating {
    display: flex;
    align-items: center;
    gap: 4px;
    background: #000000A6;
    color: #f5a623;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    filter: none !important;
    margin-right: 4px;
}

.details__description {
    max-width: 700px;
    line-height: 1.5;
    color: #8E95A9;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0;
}

.details__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 24px;
    margin-bottom: 40px;
}

.info-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 300px;
}

.info-label {
    color: #767E94;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
}

.info-value {
    color: #C3C8D4;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0;
    white-space: nowrap;
}

.details__cast {
    /* display: flex; */
}

.cast-title {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 24px;
    letter-spacing: 0;
    padding-bottom: 23px;
}

.details__cast img {
    width: 100%;
    max-width: 128px;
    border-radius: 4px;
}

.actor-name {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;

}

.details-actor {
    display: flex;
    gap: 24px;
    max-width: 800px;
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: none;
}

.details-actor::-webkit-scrollbar {
    display: none;
}




/* comment */
.comment {
    background-color: #1D1D1D;
}

.comment-box {
    display: flex;
    align-items: center;
    gap: 22px;
    width: 100%;
    max-width: 810px;
    padding-left: 50PX;

}

.comment-input {
    flex: 1;
    padding: 15px 16px 15px 55px;
    border: 1px solid #323B54;
    border-radius: 12px;
    font-size: 14px;
    outline: none;
    background-color: #0000001A;
    color: #475069;
    background-image: url('../../assets/images/profilePhote.svg');
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: 10px center;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
}

.comment-input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
}

.comment-input:focus {
    color: white;
    border-color: #007BFF;
}


.comment-btn {
    background-color: #9B51E0;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.comment-btn img {
    width: 29.12px;
    height: 28.5px;
    top: 4.75px;
    left: 2.77px;
}

.comment-btn:hover {
    background-color: #0056b3;
}


.comments-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.comment-item {
    width: 682.73px;
    min-height: 167px;
    background-color: #1D1D1D;
    border: 2px solid #475069;
    border-radius: 8px;
    padding: 20px;
    margin-left: 67px;
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    box-sizing: border-box;
}

.comment-left {
    display: flex;
    gap: 14px;
}

.comment-left img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0;
    color: #C3C8D4;
}

.comment-text {
    margin-top: 8px;
    font-size: 14px;
    color: #C3C8D4;
}

.comment-time {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    white-space: nowrap;
    color: #C3C8D4;
}

.comment-item img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-text {
    flex: 1;
}

.detailed-card {
    background-color: #1D1D1D;

}

.h4-card {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 24px;
    letter-spacing: 0;
    color: #FFFFFF;
    padding-top: 328px;
    padding-left: 78px;
    padding-bottom: 58px;
}

.movie-card {
    flex: 0 0 504px;
    width: 504px;
    height: 736px;
    position: relative;
    overflow: hidden;
    left: 78px;
    display: flex;
    /* bottom: 132px; */
}

/* Şəkil */
.movie-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Overlay hissə */
.movie-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    padding: 40px 24px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0));

    color: #FFFFFF;
    box-sizing: border-box;
}

/* Kateqoriya */
.movie-category {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #0FEFFD;
}

/* Ulduzlar */
.movie-rating {
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 4px;
}

/* Başlıq */
.movie-title {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 28px;
}

.movie-cards-container {
    display: flex;
    gap: 24px;
    padding-bottom: 132px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.movie-cards-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}


.video-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
}

.video-modal-content {
    position: relative;
    width: 80%;
    max-width: 900px;
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.video-modal iframe {
    width: 100%;
    height: 500px;
    z-index: 1;
    position: relative;
}

.video-info {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.video-info h3 {
    margin: 0 0 5px 0;
}

.video-info button {
    padding: 5px 10px;
    font-size: 16px;
    background: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 3;
}