@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.body-main {
    display: flex;
    background-color: #1D1D1D;
}

.body-left {
    width: 56px;
    height: 100vh;
    padding-top: 40px;
}

.logo {
    padding-bottom: 64px;
}

.logo img {
    width: 56px;
    height: 56px;
}



.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

ul {
    list-style: none;
}

.sidebar img {
    width: 19.2px;
    height: 19.2px;
}

.sidebar li img:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(70%) sepia(40%) saturate(600%) hue-rotate(165deg);
}




.body-right {
    width: 100%;
    height: 100vh;
    padding: 158px 0 0 0;
}

.right-header {
    display: flex;
    align-items: center;
    align-content: center;
    padding-left: 8px;
    gap: 10px;
    padding-bottom: 48px;

}

.right-h1 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 35px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FFFFFF;
    margin-left: 10px;
}

.right-icon {
    width: 12px;
    height: 16px;
    margin-left: 10px;
}

.movie-list {
    height: 450px;
    width: 100%;
}

.movie-card {
    width: 300px;
    height: 450px;
    background-color: #2D2D2D;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}

.movie-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.251);
    z-index: 1;
    pointer-events: none;
}

.movie-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
    padding: 0 0 30px 20px;
    color: #FFFFFF;
    z-index: 2;
}

.movie-genre {
    font-family: Roboto;
    font-size: 12px;
    color: #0FEFFD;
    margin-bottom: 8px;
    background-color: #1D1D1D80;
    width: fit-content;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 1px 5px;
}

.movie-rating {
    font-family: Roboto;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 8px;
}

.movie-title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}