@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.body-main {
  display: flex;
  background-color: #1d1d1d;
}

.body-left {
  width: 56px;
  height: 100vh;
  padding-top: 40px;
}

.logo {
  padding-bottom: 64px;
}

.logo img {
  width: 56px;
  height: 56px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

ul {
  list-style: none;
}

.sidebar img {
  width: 19.2px;
  height: 19.2px;
}

.sidebar li img:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(70%) sepia(40%) saturate(600%)
    hue-rotate(165deg);
}

.body-right {
  width: 100%;
  height: 100vh;
  padding: 138px 0 0 0;
}

.right-header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 8px;
  gap: 10px;
  padding-bottom: 48px;
}

.search-main {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-input {
  width: 280px;
  padding: 10px;
  border: 1px solid #808080;
  background-color: #00000080;
  border-radius: 4px;
  color: #ffffff;
}

.search-button {
  width: 56px;
  height: 56px;
  cursor: pointer;
}

.right-h1 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 35px;

  line-height: 24px;
  letter-spacing: 0%;
  color: #ffffff;
  margin-left: 10px;
}

.right-icon {
  width: 12px;
  height: 16px;
  margin-left: 10px;
}

.movie-list {
  height: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-card {
  width: 292px;
  height: 440px;
  background-color: #2d2d2d;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  max-width: 10px 10px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease; 
}
.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.movie-card::before {
   content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.4) 65%,
    rgba(0, 0, 0, 0.9) 100%
  );
  z-index: 1;
}

.movie-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition:
    filter 0.3s ease,
    transform 0.3s ease;
  cursor: pointer;
}

.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  padding: 0 0 30px 20px;
  color: #ffffff;
  z-index: 2;
}

.movie-genre {
  padding: 4px 8px;
  color: var(--client-nav-active-bg);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 16px;
  background: rgba(0, 0, 0, 0.3);
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  display: inline-block;
  width: fit-content;
}

.movie-rating {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.movie-title {
   font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  margin-top: 16px;
  font-family: "Roboto", sans-serif;
}

.movie-list h1 {
  color: #ffffff !important;
}
