@font-face {
  font-family: "Raleway";
  src: url("./../assets/Fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./../assets/Fonts/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}