@import url("./reset.css");
@import url("./variable.css");
@import url("./bootstrap.css");
@import url("./font.css");

/* Layout */
.admin-dashboard-wrapper {
  display: flex;
}

/* Admin Sidebar Design */
.admin-sidebar {
  width: 250px;
  background-color: var(--admin-sidebar-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.admin-dashboard-content {
  margin-left: 250px;
  width: calc(100% - 250px);
}

/* Sidebar Logo */
.admin-sidebar-logo {
  padding: 5px 0 0 34px;
}

.admin-sidebar-logo img {
  width: 166px;
  height: 57px;
}

.admin-sidebar-top {
  width: 100%;
}

/* Sidebar Links */
.admin-sidebar-links {
  padding-top: 47px;
}

.admin-sidebar-links a {
  width: 100%;
  padding: 20px 47px;
  display: flex;
  gap: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  color: var(--admin-nav-text);
}

.admin-sidebar-links a img {
  width: 15px;
  height: 15px;
}

a.is-active {
  background-color: var(--admin-nav-active-bg);
  color: #ffffff !important;
}

.is-active img {
  filter: brightness(0) invert(1);
}

/* Logout */
.admin-sidebar-bottom {
  width: 100%;
  display: flex;
  gap: 13px;
  padding-left: 47px;
  padding-bottom: 41px;
  color: #9b51e0;
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  cursor: pointer;
}

.admin-sidebar-bottom a {
  display: flex;
  gap: 13px;
}

/* Table buttons */
tr button {
  background: #7b3fe4;
  border: none;
  padding: 6px 12px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .admin-sidebar {
    position: relative;
    width: 100%;
    height: auto;
  }

  .admin-dashboard-content {
    margin-left: 0;
    width: 100%;
  }
}