@font-face {
    font-family: 'Raleway';
    src: url('./../assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url('./../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 700;
}