* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

button, input, textarea {
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
}

button {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}