.admin-dashboard-wrapper {
  font-family: var(--admin-db-font);
  display: flex;
  height: 100vh;
}
.admin-dashboard-content {
  flex: 1;
  background-color: #171616;
}
.admin-dashboard-header {
  display: flex;
  padding: 36px 116px 0 24px;
  justify-content: space-between;
}
.admin-dashboard-header-title h2 {
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #cccccc;
  margin-bottom: 10px;
}
.admin-dashboard-header-title h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #fff;
}
.admin-dashboard-header-profile {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.admin-dashboard-header-profile img {
  width: 31px;
  height: 31px;
}
.admin-dashboard-header-profile h3 {
  margin-top: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  color: #fff;
}
.admin-dashboard-card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-inline: 24px 77px;
  margin-top: 79px;
}
.admin-stat-card {
  width: 233px;
  height: 203px;
  flex-shrink: 0;
  background-color: var(--admin-db-card-bg);
  border-radius: 30px;
  padding: 24px;
  transition:
    background-color 0.4s ease-in-out,
    box-shadow 0.4s ease;
}
.admin-stat-card:hover {
  cursor: pointer;
  background-color: var(--admin-db-card-hover-bg);
}
.admin-stat-card-long {
  width: 288px;
  flex-shrink: 0;
}
.admin-stat-card-label {
  color: #d7d7d7;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
}
.admin-stat-card-value {
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  margin-top: 8px;
}


.create-btn {
  background: #7b3fe4;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  
}

/* Modal background */
.modal {
  display: none; /* default hidden */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

/* Modal box */
.modal-content {
  background: #111;
  padding: 40px;
  border-radius: 15px;
  width: 400px;
  text-align: center;
  position: relative;
}

/* Close button */
.close {
  position: absolute;
  right: 15px;
  top: 10px;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

/* Input */
.input-field {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #444;
  background: #1c1c1c;
  color: white;
}

/* Submit button */
.submit-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #7b3fe4, #9c5af7);
  color: white;
  cursor: pointer;
}
/* Table  */
.table-container {
  max-width: 500px;
 

  padding: 20px;
  border-radius: 20px;
  margin:40px 30px ;
  
}

table {
  width: 100%;
  border-collapse: collapse;
 
}

thead {
  background: #1f1f1f;
}

th {
  text-align: left;
  padding: 15px;
  color: #ccc;
  font-weight: 500;
}

tbody tr {
  background: #eaeaea;
  border-radius: 8px;
}

td {
  padding: 15px;
  color: #000;
}

tbody tr td:first-child {
  width: 80px;
}