.admin-dashboard-wrapper {
  font-family: "Nunito", sans-serif;
  display: flex;
  
}
.admin-dashboard-header {
  display: flex;
  padding: 36px 116px 0 24px;
  justify-content: space-between;
}
.admin-dashboard-header-title h2 {
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #cccccc;
  margin-bottom: 10px;
}
.admin-dashboard-header-title h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #fff;
}
.admin-dashboard-header-profile {
  display: flex;
  align-items: center;
  gap: 6px;
  
}
.admin-dashboard-header-profile img {
  width: 31px;
  height: 31px;
}
.admin-dashboard-header-profile h3 {
  margin-top: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  color: #fff;
}
.admin-dashboard-content {
  flex: 1;
  background-color: #171616;
}
.admin-dashboard-content > .main-table {
  width: auto;
  padding: 96px 75px 20px 24px;
}

.admin-dashboard-content > .main-table > table {
  width: 100%;
}
.admin-dashboard-header-profile img {
  width: 36px;
  height: 36px;
}
.admin-dashboard-header-profile h3 {
  margin-top: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  color: #fff;
}

.create-btn {
   background: #7b3fe4;
  font-weight: 500;
  font-size: 14px;
  padding: 8px 25px;
  margin-right: 28px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

/* Modal background */
.modal {
  display: none; /* default hidden */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

/* Modal box */
.modal-content {
  background: #111;
  padding: 40px;
  border-radius: 15px;
  width: 400px;
  text-align: center;
  position: relative;
}

/* Close button */
.close {
  position: absolute;
  right: 15px;
  top: 10px;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

/* Input */
.input-field {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #444;
  background: #1c1c1c;
  color: white;
}

/* Submit button */
.submit-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #7b3fe4, #9c5af7);
  color: white;
  cursor: pointer;
}
/* Table  */
.table-container{
  padding: 56px 0 0 24px;
}
.table-container table {
  max-width: 500px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #1a1a2e;
  overflow: hidden;
  border-radius: 8px;
  padding: 20px;
}

.table-container thead {
  height: 48px;
  background-color: #1e1e1e;
}

.table-container th {
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1%;
}

.table-container table tr td {
  height: 48px;
  text-align: left;
  border-top: 1px solid #ffffff;
  text-align: center;
  vertical-align: middle;
}
.table-container table tr td img {
  width: 29px;
  height: inherit;
  border-radius: 4px;
}

.table-container td > * {
  display: inline-flex;
  vertical-align: middle;
}

tbody tr {
  background-color: #ffffff;
}
