.admin-dashboard-wrapper {
  font-family: "Nunito", sans-serif;
  display: flex;
  min-height: 100vh;
}
.admin-dashboard-header {
  display: flex;
  padding: 36px 116px 0 24px;
  justify-content: space-between;
  flex-shrink: 0;
}
.admin-dashboard-header-title h2 {
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #cccccc;
  margin-bottom: 10px;
}
.admin-dashboard-header-title h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #fff;
}
.admin-dashboard-header-profile {
  display: flex;
  align-items: center;
  gap: 6px;
}
.admin-dashboard-header-profile img {
  width: 31px;
  height: 31px;
}
.admin-dashboard-header-profile h3 {
  margin-top: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  color: #fff;
}
.admin-dashboard-content {
  position: relative;
  min-height: 100vh;
  background-color: #171616;
}
.admin-dashboard-content > .table-container {
  width: auto;
  padding: 56px 0 0 24px;
}

.admin-dashboard-content > .table-container > table {
  width: 100%;
}
.admin-dashboard-header-profile img {
  width: 36px;
  height: 36px;
}
.admin-dashboard-header-profile h3 {
  margin-top: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  color: #fff;
}
.admin-dashboard-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 100px);
  overflow-y: auto;
}

/* Table */
.table-container {
  flex: 1 0 auto;
  max-width: 1000px;
  padding: 56px 0 0 24px;
  border-radius: 20px;
  flex-grow: 1;
}
.table-container table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #1a1a2e;
  overflow: hidden;
  border-radius: 8px;
}

.table-container thead {
  height: 48px;
  background-color: #1e1e1e;
}

.table-container th {
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1%;
}

.table-container table tr td {
  height: 48px;
  text-align: left;
  border-top: 1px solid #ffffff;
  text-align: center;
  vertical-align: middle;
}
.table-container table tr td img {
  width: 29px;
  height: inherit;
  border-radius: 4px;
}

.table-container td > * {
  display: inline-flex;
  vertical-align: middle;
}

tbody tr {
  background-color: #ffffff;
}


