body{
    background-color: #171616;
}
.admin-dashboard-wrapper {
    font-family: var(--admin-db-font);
    display: flex;
}

.admin-dashboard-content {
    flex: 1;
    background-color: #171616;
}


/* Header */
.admin-dashboard-header {
    display: flex;
    padding: 36px 116px 0 24px;
    justify-content: space-between;
}

.admin-dashboard-header-title h2 {
    font-weight: 500;
    font-size: 13px;
    color: #cccccc;
    margin-bottom: 10px;
}

.admin-dashboard-header-title h1 {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}

.admin-dashboard-header-profile {
    display: flex;
    gap: 20px;
    align-items: center;
}

.admin-dashboard-header-profile img {
    width: 31px;
    height: 31px;
}

.admin-dashboard-header-profile h3 {
    font-weight: 500;
    font-size: 12px;
    color: #fff;
}

/* Cards */
.admin-dashboard-card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-inline: 24px 77px;
    margin-top: 79px;
}

.admin-stat-card {
    width: 233px;
    height: 203px;
    background-color: var(--admin-db-card-bg);
    border-radius: 30px;
    padding: 24px;
    transition: 0.3s;
}

.admin-stat-card:hover {
    cursor: pointer;
    background-color: var(--admin-db-card-hover-bg);
}

.admin-stat-card-long {
    width: 288px;
}

.admin-stat-card-label {
    color: #d7d7d7;
    font-weight: 500;
    font-size: 15px;
}

.admin-stat-card-value {
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    margin-top: 8px;
}

/* Button */
.create-btn {
    background: #7b3fe4;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #111;
    padding: 40px;
    border-radius: 15px;
    width: 400px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #444;
    background: #1c1c1c;
    color: white;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to right, #7b3fe4, #9c5af7);
    color: white;
    cursor: pointer;
}

/* Table */
.table-container {
    max-width: 1000px;
    padding: 20px;
    border-radius: 20px;
    margin: 40px 30px;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 12px;
}

thead {
    background: #1f1f1f;
}

th {
    text-align: left;
    padding: 15px;
    color: #ccc;
    font-weight: 500;
}

tbody tr {
    background: #ffffff;
    border-bottom: 1px solid #ddd;
}

td {
    padding: 15px;
    color: #000;
}

tbody tr:hover {
    background: #f5f5f5;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

.page-numbers {
    display: flex;
    gap: 6px;
}

.page-numbers button {
    padding: 6px 12px;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 6px;
    background: white;
}

.page-numbers button.active {
    background: #6c5ce7;
    color: white;
    border-color: #6c5ce7;
}

.prev-page,
.next-page {
    padding: 6px 12px;
    border: none;
    background: #6c5ce7;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}