.admin-dashboard-wrapper {
  font-family: "Nunito", sans-serif;
  display: flex;
}
.admin-dashboard-header {
  display: flex;
  padding: 36px 116px 0 24px;
  justify-content: space-between;
}
.admin-dashboard-header-title h2 {
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #cccccc;
  margin-bottom: 10px;
}
.admin-dashboard-header-title h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #fff;
}
.admin-dashboard-header-profile {
  display: flex;
  align-items: center;
  gap: 6px;
  
}
.admin-dashboard-header-profile img {
  width: 31px;
  height: 31px;
}
.admin-dashboard-header-profile h3 {
  margin-top: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  color: #fff;
}
.admin-dashboard-content {
  flex: 1;
  background-color: #171616;
}
.admin-dashboard-content > .main-table {
  width: auto;
  padding: 96px 75px 20px 24px;
}

.admin-dashboard-content > .main-table > table {
  width: 100%;
}
.admin-dashboard-header-profile img {
  width: 36px;
  height: 36px;
}
.admin-dashboard-header-profile h3 {
  margin-top: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  color: #fff;
}

/* Table Content */
.main-table table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #1a1a2e;
  overflow: hidden;
  border-radius: 8px;
}

.main-table thead {
  height: 48px;
  background-color: #1e1e1e;
}

.main-table th {
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1%;
}

.main-table table tr td {
  height: 48px;
  text-align: left;
  border-top: 1px solid #ffffff;
  text-align: center;
  vertical-align: middle;
}
.main-table table tr td img {
  width: 29px;
  height: inherit;
  border-radius: 4px;
}

.main-table td > * {
  display: inline-flex;
  vertical-align: middle;
}

tbody tr {
  background-color: #ffffff;
}

.title-cell {
  display: flex;
  align-items: center;
  gap: 15px;
}

.title-cell img {
  width: 30px;
  height: 30px;
  border-radius: 6px;
}

#createModal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
/* Modal açıq vəziyyət */
#createModal.open {
  display: flex;
}

body.modal-open {
  overflow: hidden;
}

.modal-content {
  display: flex;
  gap: 30px;
  width: 90%;
  max-width: 800px;
  background: #1a1a1a;
  padding: 30px;
  border-radius: 12px;
  box-sizing: border-box;
  align-items: flex-start;
  height: 90vh;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.modal-content::-webkit-scrollbar {
  display: none;
}

.modal-left {
  flex: 3;
}
.modal-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.modal-poster {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
}

.modal-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-form {
  width: 100%;
}
.modal-form input,
.modal-form select,
.modal-form textarea {
  width: 100%;
  background: #252525;
  border: 1px solid #444;
  color: white;
  padding-inline: 16px;
  border-radius: 6px;
  font-size: 13px;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.modal-form input,
.modal-form select {
  height: 40px;
}
.modal-form select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="white" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) center;
  background-size: 12px;
  padding-inline: 16px;
  padding-right: 40px;
  cursor: pointer;
}

.modal-form textarea::-webkit-scrollbar {
  display: none;
}
.modal-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-top: 6px;
}
.modal-form .adult-label {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #475069;
  font-size: 13px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.form-group label {
  font-size: 13px;
  color: #ffffff;
  margin-bottom: 5px;
  font-weight: 500;
}

.modal-form textarea {
  min-height: 86px;
  resize: vertical;
}

/* Checkbox */
.form-group-button {
  display: flex;
  justify-content: space-between;
}
.checkbox-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin-top: 5px;
  margin-bottom: 20px;
  height: auto;
}

.checkbox-group input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin: 0;
  cursor: pointer;
}

.checkbox-group label {
  margin: 0;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  line-height: 1;
}

/* Buttons */
.submit-btn,
.edit-btn,
.delete-btn {
  background: #7b3fe4;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.add-btn {
  background: #7b3fe4;
  font-weight: 500;
  font-size: 14px;
  padding: 8px 25px;
  margin-right: 28px;
  color: #fff;
  border-radius: 4px;
}

.edit-btn,
.delete-btn {
  padding: 6px 12px;
}
